@import url(m_style.css);
html,
body,
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 5.8rem;
  background: #ed5858;
}
.container header .one {
  width: 100%;
  height: 2.05rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header .one .oo {
  width: 2.3rem;
  height: 2.05rem;
  background: none;
}
.container header .one .oo img {
  width: 0.48rem;
  height: 0.37rem;
  margin-left: 0.28rem ;
  margin-top: 0.19rem;
}
.container header .one .nn {
  width: 1.88rem;
  height: 2.05rem;
  background: none;
}
.container header .one .nn img {
  width: 1.77rem ;
  height: 1.77rem;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-left: 0.05rem;
}
.container header .one .ee {
  width: 2.3rem;
  height: 2.05rem;
  background: none;
}
.container header .one .ee img {
  width: 0.48rem;
  height: 0.37rem;
  margin-left: 1.6rem;
  margin-top: 0.19rem;
}
.container header .two {
  width: 100%;
  height: 1.59rem;
  background: none;
  text-align: center;
}
.container header .two p {
  padding-top: 0.28rem;
  font-size: 0.22rem;
  color: white;
}
.container header .two span {
  font-size: 0.49rem;
  color: white;
}
.container header .three {
  width: 100%;
  height: 1.17rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header .three .tt {
  width: 50%;
  height: 1.17rem;
  background: none;
}
.container header .three .tt p {
  padding-left: 0.82rem;
  font-size: 0.22rem;
  color: white;
}
.container header .three .tt span {
  padding-left: 0.82rem;
  font-size: 0.35rem;
  color: white;
}
.container header .three .hh {
  width: 50%;
  height: 1.17rem;
  background: none;
}
.container header .three .hh p {
  padding-left: 0.82rem;
  font-size: 0.22rem;
  color: white;
}
.container header .three .hh span {
  padding-left: 0.82rem;
  font-size: 0.35rem;
  color: white;
}
.container header .four {
  width: 100%;
  height: 1.02rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
.container header .four .ff {
  width: 50%;
  height: 1.02rem;
  background: none;
}
.container header .four .ff button {
  width: 2.64rem ;
  height: 0.79rem;
  background: #ffbb00;
  border: none;
  color: white;
  font-size: 0.37rem;
}
.container header .four .uu {
  width: 50%;
  height: 1.02rem;
  background: none;
}
.container header .four .uu button {
  width: 2.64rem ;
  height: 0.79rem;
  background: #ed5858 ;
  border: none;
  border: 1px solid #ccc;
  color: white;
  font-size: 0.37rem;
}
.container section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.container section .one {
  width: 100%;
  height: 2rem;
  background: none;
}
.container section .one .ww {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container section .one .ww dl {
  margin-left: 0.3rem;
  text-align: center;
}
.container section .one .ww dl dt img {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.4rem;
}
.container section .one .ww dl dd {
  font-size: 0.3rem;
}
.container section .cc {
  line-height: 0.87rem ;
  border: 1px #ccc solid;
  font-size: 0.3rem;
}
.container section .cc img {
  width: 0.38rem;
  height: 0.38rem;
  margin-left: 0.45rem ;
}
.container section .cc p a {
  float: right;
  color: #aaaaaa;
}
.container section .cc p a img {
  width: 0.16rem;
  height: 0.26rem;
}
.container footer {
  width: 100%;
  height: 1rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container footer dl {
  margin-left: 0.62rem;
  margin-top: 0.09rem;
  text-align: center;
}
.container footer dl dt img {
  width: 0.52rem;
  height: 0.45rem;
}
.container footer dl dd {
  color: #929292;
}
